.basmayeri {
    -fx-background-radius: 50%;
    -fx-background-color:  white ;
    -fx-border-radius: 50%;
    }
.basmayeri:hover{
    -fx-background-color:#CEDBDD;
    -fx-background-radius: 50%;
}
.basmayeri:pressed{
 -fx-background-color:#aab3b5;
    -fx-background-radius: 50%;
    }

.cevirme {
-fx-background-color: #E5E4E5;
-fx-border-radius:50%

}
.cevirme:hover {
 -fx-background-color: #CEDBDD ;
}
.cevirme:pressed{
 -fx-background-color:#aab3b5;
    }
 .anchorpane{
 -fx-background-image:url("../images/Resim1.png");
 -fx-background-size:cover;
 }
 .textarea{
 -fx-background-color:#c99868;}



