.basmayeri {
    -fx-background-radius: 50%;
    -fx-background-color:  #d3c1ae ;
    -fx-border-radius: 50%;
    }
.basmayeri:hover{
    -fx-background-color:#b9aa9b;
    -fx-background-radius: 50%;
}
.basmayeri:pressed{
 -fx-background-color:#aab3b5;
    -fx-background-radius: 50%;
    }

.cevirme {
-fx-background-color: #d3c1ae;
-fx-border-radius:50%

}
.cevirme:hover {
 -fx-background-color: #b9aa9b ;
}
.cevirme:pressed{
 -fx-background-color:#aab3b5;
    }
 .anchorpane{
 -fx-background-image:url("../images/Resim1.png");
 -fx-background-size:cover;
 }
 .textarea{
 -fx-background-color:#c99868;}



